# 蓝牙总开关
CONFIG_BT_ENABLED=y
CONFIG_BLUEDROID_ENABLED=y
# 开启经典蓝牙BR/EDR（核心）
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_SPP_ENABLED=y
CONFIG_BT_A2DP_ENABLED=y
CONFIG_BT_HFP_ENABLED=y
# 蓝牙控制器
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_CTRL_BLE_1M=y
CONFIG_BT_CTRL_BR_EDR=y
# 适配ESP32芯片（WROOM-UE）
CONFIG_IDF_TARGET_ESP32=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_160=y
# 分区：蓝牙+WiFi占用闪存，建议大分区
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"